In [1]:
import numpy as np
import pandas as pd

In [2]:
#Criando um dicionário com dados dos jogadores do são paulo
data_sp = {
    'Nome': [
        'Jonathan Calleri', 'Luciano', 'Lucas Moura', 'Wellington Rato',
        'Rodrigo Nestor', 'Alisson', 'Pablo Maia', 'Giuliano Galoppo',
        'James Rodríguez', 'Michel Araújo', 'Arboleda', 'Diego Costa',
        'Ferraresi', 'Rafinha', 'Welington', 'Rafael'
    ],
    'Jogos': [
        45, 48, 35, 52, 50, 55, 51, 25, 20, 42, 40, 38, 22, 39, 47, 58
    ],
    'Gols': [
        21, 15, 8, 7, 4, 2, 3, 6, 2, 5, 2, 1, 0, 1, 1, 0
    ],
    'Assistencias': [
        6, 8, 9, 12, 10, 5, 4, 3, 7, 6, 1, 0, 0, 4, 8, 0
    ],
    'Minutos_Jogados': [
        3980, 4100, 3050, 4250, 4300, 4850, 4590, 1850,
        1500, 3100, 3600, 3350, 1980, 3510, 4150, 5220
    ]
}

In [3]:
# Criando um dataframe com esses dados
df_sp = pd.DataFrame(data_sp)
df_sp

                Nome  Jogos  Gols  Assistencias  Minutos_Jogados
0   Jonathan Calleri     45    21             6             3980
1            Luciano     48    15             8             4100
2        Lucas Moura     35     8             9             3050
3    Wellington Rato     52     7            12             4250
4     Rodrigo Nestor     50     4            10             4300
5            Alisson     55     2             5             4850
6         Pablo Maia     51     3             4             4590
7   Giuliano Galoppo     25     6             3             1850
8    James Rodríguez     20     2             7             1500
9      Michel Araújo     42     5             6             3100
10          Arboleda     40     2             1             3600
11       Diego Costa     38     1             0             3350
12         Ferraresi     22     0             0             1980
13           Rafinha     39     1             4             3510
14         Welington     47     1             8             4150
15            Rafael     58     0             0             5220

In [4]:
# Definindo que o nome dos jogadores será o index
# Inplace para realizar a alteração de forma definitiva
df_sp.set_index('Nome', inplace=True)
df_sp

                  Jogos  Gols  Assistencias  Minutos_Jogados
Nome
Jonathan Calleri     45    21             6             3980
Luciano              48    15             8             4100
Lucas Moura          35     8             9             3050
Wellington Rato      52     7            12             4250
Rodrigo Nestor       50     4            10             4300
Alisson              55     2             5             4850
Pablo Maia           51     3             4             4590
Giuliano Galoppo     25     6             3             1850
James Rodríguez      20     2             7             1500
Michel Araújo        42     5             6             3100
Arboleda             40     2             1             3600
Diego Costa          38     1             0             3350
Ferraresi            22     0             0             1980
Rafinha              39     1             4             3510
Welington            47     1             8             4150
Rafael               58     0             0             5220

In [5]:
# Arrumando o time pela maior quantidade de jogos
df_sp.sort_values('Jogos', ascending=False) # Ascending = false serve para colocar em ordem decrescente

                  Jogos  Gols  Assistencias  Minutos_Jogados
Nome
Rafael               58     0             0             5220
Alisson              55     2             5             4850
Wellington Rato      52     7            12             4250
Pablo Maia           51     3             4             4590
Rodrigo Nestor       50     4            10             4300
Luciano              48    15             8             4100
Welington            47     1             8             4150
Jonathan Calleri     45    21             6             3980
Michel Araújo        42     5             6             3100
Arboleda             40     2             1             3600
Rafinha              39     1             4             3510
Diego Costa          38     1             0             3350
Lucas Moura          35     8             9             3050
Giuliano Galoppo     25     6             3             1850
Ferraresi            22     0             0             1980
James Rodríguez      20     2             7             1500

In [6]:
# Mostrando a parte de cima da tabela mas apenas os números de gols
df_sp['Gols'].head()

Nome
Jonathan Calleri    21
Luciano             15
Lucas Moura          8
Wellington Rato      7
Rodrigo Nestor       4
Name: Gols, dtype: int64

In [7]:
# Quantos gols o São Paulo fez na temporada?
df_sp['Gols'].sum()
# método sum para somar todos os valores da coluna gols

78

In [8]:
# Quem tem mais participações em gols no são Paulo?
df_sp['G/A'] = df_sp['Gols'] + df_sp['Assistencias']
df_sp
# criando uma nova coluna g/a que tem a soma dos valores de gols e assistencias de cada jogador

                  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
Nome
Jonathan Calleri     45    21             6             3980   27
Luciano              48    15             8             4100   23
Lucas Moura          35     8             9             3050   17
Wellington Rato      52     7            12             4250   19
Rodrigo Nestor       50     4            10             4300   14
Alisson              55     2             5             4850    7
Pablo Maia           51     3             4             4590    7
Giuliano Galoppo     25     6             3             1850    9
James Rodríguez      20     2             7             1500    9
Michel Araújo        42     5             6             3100   11
Arboleda             40     2             1             3600    3
Diego Costa          38     1             0             3350    1
Ferraresi            22     0             0             1980    0
Rafinha              39     1             4             3510    5
Welington            47     1             8             4150    9
Rafael               58     0             0             5220    0

In [9]:
# Mostrar os jogadores com mais participações em gols na temporada
df_sp.sort_values('G/A', ascending=False).head()
#Sorteando de forma decrescente os jogadores com base nos números de gols

                  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
Nome
Jonathan Calleri     45    21             6             3980   27
Luciano              48    15             8             4100   23
Wellington Rato      52     7            12             4250   19
Lucas Moura          35     8             9             3050   17
Rodrigo Nestor       50     4            10             4300   14

In [10]:
# Calcular a quantidade de minutos que cada jogador demora para participar de um gol
#round para arredondar os minutos para números inteiros, utilizando de filtros para não ocorrer divisão por 0
df_sp['Minutos_Participacao'] = round(df_sp[(df_sp['Minutos_Jogados'] > 0) & (df_sp['G/A'] > 0)]['Minutos_Jogados'] / df_sp['G/A'])
df_sp

,Jogos,Gols,Assistencias,Minutos_Jogados,G/A,Minutos_Participacao
Nome,,,,,,
Jonathan Calleri,45,21,6,3980,27,147.0
Luciano,48,15,8,4100,23,178.0
Lucas Moura,35,8,9,3050,17,179.0
Wellington Rato,52,7,12,4250,19,224.0
Rodrigo Nestor,50,4,10,4300,14,307.0
Alisson,55,2,5,4850,7,693.0
Pablo Maia,51,3,4,4590,7,656.0
Giuliano Galoppo,25,6,3,1850,9,206.0
James Rodríguez,20,2,7,1500,9,167.0
Michel Araújo,42,5,6,3100,11,282.0
Arboleda,40,2,1,3600,3,1200.0
Diego Costa,38,1,0,3350,1,3350.0
Ferraresi,22,0,0,1980,0,NaN
Rafinha,39,1,4,3510,5,702.0
Welington,47,1,8,4150,9,461.0
Rafael,58,0,0,5220,0,NaN

In [11]:
#criando a nova tabela apenas com os minutos para participar de gols de cada jogador.
df_mp = df_sp['Minutos_Participacao'].dropna().sort_values(ascending=True)
df_mp

Nome
Jonathan Calleri     147.0
James Rodríguez      167.0
Luciano              178.0
Lucas Moura          179.0
Giuliano Galoppo     206.0
Wellington Rato      224.0
Michel Araújo        282.0
Rodrigo Nestor       307.0
Welington            461.0
Pablo Maia           656.0
Alisson              693.0
Rafinha              702.0
Arboleda            1200.0
Diego Costa         3350.0
Name: Minutos_Participacao, dtype: float64

In [12]:
# Excluindo a tabela de minutos para participar do dataframe principal
df_sp.drop(columns='Minutos_Participacao', inplace=True)
df_sp

                  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
Nome
Jonathan Calleri     45    21             6             3980   27
Luciano              48    15             8             4100   23
Lucas Moura          35     8             9             3050   17
Wellington Rato      52     7            12             4250   19
Rodrigo Nestor       50     4            10             4300   14
Alisson              55     2             5             4850    7
Pablo Maia           51     3             4             4590    7
Giuliano Galoppo     25     6             3             1850    9
James Rodríguez      20     2             7             1500    9
Michel Araújo        42     5             6             3100   11
Arboleda             40     2             1             3600    3
Diego Costa          38     1             0             3350    1
Ferraresi            22     0             0             1980    0
Rafinha              39     1             4             3510    5
Welington            47     1             8             4150    9
Rafael               58     0             0             5220    0

In [13]:
#Criando agora um dicionário com os dados dos jogadores do palmeiras
data_sep = {
    'Nome': [
        'Weverton', 'Gustavo Gómez', 'Murilo', 'Marcos Rocha', 'Piquerez',
        'Zé Rafael', 'Gabriel Menino', 'Richard Ríos', 'Raphael Veiga',
        'Rony', 'Dudu', 'Endrick', 'Flaco López', 'Luan', 'Mayke'
    ],
    'Jogos': [
        59, 55, 52, 48, 56, 58, 51, 45, 57, 53, 15, 30, 49, 35, 42
    ],
    'Gols': [
        0, 7, 5, 2, 4, 3, 5, 2, 19, 14, 2, 15, 17, 1, 2
    ],
    'Assistencias': [
        0, 2, 1, 6, 9, 5, 7, 3, 16, 7, 4, 3, 6, 1, 5
    ],
    'Minutos_Jogados': [
        5310, 4950, 4680, 4200, 5010, 5150, 4500, 3980,
        5100, 4750, 1150, 2550, 4100, 3100, 3800
    ]
}

In [14]:
#Criando dataframe dos jogadores do palmereiras
df_sep = pd.DataFrame(data_sep)
df_sep

              Nome  Jogos  Gols  Assistencias  Minutos_Jogados
0         Weverton     59     0             0             5310
1    Gustavo Gómez     55     7             2             4950
2           Murilo     52     5             1             4680
3     Marcos Rocha     48     2             6             4200
4         Piquerez     56     4             9             5010
5        Zé Rafael     58     3             5             5150
6   Gabriel Menino     51     5             7             4500
7     Richard Ríos     45     2             3             3980
8    Raphael Veiga     57    19            16             5100
9             Rony     53    14             7             4750
10            Dudu     15     2             4             1150
11         Endrick     30    15             3             2550
12     Flaco López     49    17             6             4100
13            Luan     35     1             1             3100
14           Mayke     42     2             5             3800

In [15]:
# Definindo o nome dos jogadores do são paulo como coluna denovo
df_sp.reset_index(inplace=True)
df_sp

                Nome  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
0   Jonathan Calleri     45    21             6             3980   27
1            Luciano     48    15             8             4100   23
2        Lucas Moura     35     8             9             3050   17
3    Wellington Rato     52     7            12             4250   19
4     Rodrigo Nestor     50     4            10             4300   14
5            Alisson     55     2             5             4850    7
6         Pablo Maia     51     3             4             4590    7
7   Giuliano Galoppo     25     6             3             1850    9
8    James Rodríguez     20     2             7             1500    9
9      Michel Araújo     42     5             6             3100   11
10          Arboleda     40     2             1             3600    3
11       Diego Costa     38     1             0             3350    1
12         Ferraresi     22     0             0             1980    0
13           Rafinha     39     1             4             3510    5
14         Welington     47     1             8             4150    9
15            Rafael     58     0             0             5220    0

In [16]:
#criando uma nova coluna com os números de camisas dos jogadores
num_sp = [9, 10, 7, 11, 8, 25, 29, 14, 55, 43, 4, 3, 5, 13, 6, 93]
num_sep = [21, 15, 26, 2, 22, 8, 25, 27, 23, 10, 7, 9, 18, 13, 12]
df_sep['Numero'] = num_sep
df_sp['Numero'] = num_sp

In [17]:
# Criando uma coluna tipo para cada time
df_sep['Time'] = 'Palmeiras'
df_sp['Time'] = 'Sao Paulo'

In [18]:
# Juntando os dados dos dois times em uma tabela só
df = pd.concat([df_sp, df_sep])
df

,Nome,Jogos,Gols,Assistencias,Minutos_Jogados,G/A,Numero,Time
0,Jonathan Calleri,45,21,6,3980,27.0,9,Sao Paulo
1,Luciano,48,15,8,4100,23.0,10,Sao Paulo
2,Lucas Moura,35,8,9,3050,17.0,7,Sao Paulo
3,Wellington Rato,52,7,12,4250,19.0,11,Sao Paulo
4,Rodrigo Nestor,50,4,10,4300,14.0,8,Sao Paulo
5,Alisson,55,2,5,4850,7.0,25,Sao Paulo
6,Pablo Maia,51,3,4,4590,7.0,29,Sao Paulo
7,Giuliano Galoppo,25,6,3,1850,9.0,14,Sao Paulo
8,James Rodríguez,20,2,7,1500,9.0,55,Sao Paulo
9,Michel Araújo,42,5,6,3100,11.0,43,Sao Paulo
10,Arboleda,40,2,1,3600,3.0,4,Sao Paulo
11,Diego Costa,38,1,0,3350,1.0,3,Sao Paulo
12,Ferraresi,22,0,0,1980,0.0,5,Sao Paulo
13,Rafinha,39,1,4,3510,5.0,13,Sao Paulo
14,Welington,47,1,8,4150,9.0,6,Sao Paulo
15,Rafael,58,0,0,5220,0.0,93,Sao Paulo
0,Weverton,59,0,0,5310,NaN,21,Palmeiras
1,Gustavo Gómez,55,7,2,4950,NaN,15,Palmeiras
2,Murilo,52,5,1,4680,NaN,26,Palmeiras
3,Marcos Rocha,48,2,6,4200,NaN,2,Palmeiras
4,Piquerez,56,4,9,5010,NaN,22,Palmeiras
5,Zé Rafael,58,3,5,5150,NaN,8,Palmeiras
6,Gabriel Menino,51,5,7,4500,NaN,25,Palmeiras
7,Richard Ríos,45,2,3,3980,NaN,27,Palmeiras
8,Raphael Veiga,57,19,16,5100,NaN,23,Palmeiras
9,Rony,53,14,7,4750,NaN,10,Palmeiras
10,Dudu,15,2,4,1150,NaN,7,Palmeiras
11,Endrick,30,15,3,2550,NaN,9,Palmeiras
12,Flaco López,49,17,6,4100,NaN,18,Palmeiras
13,Luan,35,1,1,3100,NaN,13,Palmeiras
14,Mayke,42,2,5,3800,NaN,12,Palmeiras

In [19]:
# Definindo um index duplo com número da camisa e time
df.set_index(['Time', 'Numero'], inplace=True)
df

                              Nome  Jogos  Gols  Assistencias  \
Time      Numero
Sao Paulo 9       Jonathan Calleri     45    21             6
          10               Luciano     48    15             8
          7            Lucas Moura     35     8             9
          11       Wellington Rato     52     7            12
          8         Rodrigo Nestor     50     4            10
          25               Alisson     55     2             5
          29            Pablo Maia     51     3             4
          14      Giuliano Galoppo     25     6             3
          55       James Rodríguez     20     2             7
          43         Michel Araújo     42     5             6
          4               Arboleda     40     2             1
          3            Diego Costa     38     1             0
          5              Ferraresi     22     0             0
          13               Rafinha     39     1             4
          6              Welington     47     1             8
          93                Rafael     58     0             0
Palmeiras 21              Weverton     59     0             0
          15         Gustavo Gómez     55     7             2
          26                Murilo     52     5             1
          2           Marcos Rocha     48     2             6
          22              Piquerez     56     4             9
          8              Zé Rafael     58     3             5
          25        Gabriel Menino     51     5             7
          27          Richard Ríos     45     2             3
          23         Raphael Veiga     57    19            16
          10                  Rony     53    14             7
          7                   Dudu     15     2             4
          9                Endrick     30    15             3
          18           Flaco López     49    17             6
          13                  Luan     35     1             1
          12                 Mayke     42     2             5

                  Minutos_Jogados   G/A
Time      Numero
Sao Paulo 9                  3980  27.0
          10                 4100  23.0
          7                  3050  17.0
          11                 4250  19.0
          8                  4300  14.0
          25                 4850   7.0
          29                 4590   7.0
          14                 1850   9.0
          55                 1500   9.0
          43                 3100  11.0
          4                  3600   3.0
          3                  3350   1.0
          5                  1980   0.0
          13                 3510   5.0
          6                  4150   9.0
          93                 5220   0.0
Palmeiras 21                 5310   NaN
          15                 4950   NaN
          26                 4680   NaN
          2                  4200   NaN
          22                 5010   NaN
          8                  5150   NaN
          25                 4500   NaN
          27                 3980   NaN
          23                 5100   NaN
          10                 4750   NaN
          7                  1150   NaN
          9                  2550   NaN
          18                 4100   NaN
          13                 3100   NaN
          12                 3800   NaN

In [20]:
# Ajustando novamente a tabela de gols e assistencias
df['G/A'] = df['Gols'] + df['Assistencias']
df

                              Nome  Jogos  Gols  Assistencias  \
Time      Numero
Sao Paulo 9       Jonathan Calleri     45    21             6
          10               Luciano     48    15             8
          7            Lucas Moura     35     8             9
          11       Wellington Rato     52     7            12
          8         Rodrigo Nestor     50     4            10
          25               Alisson     55     2             5
          29            Pablo Maia     51     3             4
          14      Giuliano Galoppo     25     6             3
          55       James Rodríguez     20     2             7
          43         Michel Araújo     42     5             6
          4               Arboleda     40     2             1
          3            Diego Costa     38     1             0
          5              Ferraresi     22     0             0
          13               Rafinha     39     1             4
          6              Welington     47     1             8
          93                Rafael     58     0             0
Palmeiras 21              Weverton     59     0             0
          15         Gustavo Gómez     55     7             2
          26                Murilo     52     5             1
          2           Marcos Rocha     48     2             6
          22              Piquerez     56     4             9
          8              Zé Rafael     58     3             5
          25        Gabriel Menino     51     5             7
          27          Richard Ríos     45     2             3
          23         Raphael Veiga     57    19            16
          10                  Rony     53    14             7
          7                   Dudu     15     2             4
          9                Endrick     30    15             3
          18           Flaco López     49    17             6
          13                  Luan     35     1             1
          12                 Mayke     42     2             5

                  Minutos_Jogados  G/A
Time      Numero
Sao Paulo 9                  3980   27
          10                 4100   23
          7                  3050   17
          11                 4250   19
          8                  4300   14
          25                 4850    7
          29                 4590    7
          14                 1850    9
          55                 1500    9
          43                 3100   11
          4                  3600    3
          3                  3350    1
          5                  1980    0
          13                 3510    5
          6                  4150    9
          93                 5220    0
Palmeiras 21                 5310    0
          15                 4950    9
          26                 4680    6
          2                  4200    8
          22                 5010   13
          8                  5150    8
          25                 4500   12
          27                 3980    5
          23                 5100   35
          10                 4750   21
          7                  1150    6
          9                  2550   18
          18                 4100   23
          13                 3100    2
          12                 3800    7

In [21]:
#Quantidade de gol que cada clube fez
group = df.groupby('Time')
group['Gols'].sum()

Time
Palmeiras    98
Sao Paulo    78
Name: Gols, dtype: int64

In [22]:
# Jogadores acima da média
jam = df[df['G/A'] > df['G/A'].mean()]
jam

                              Nome  Jogos  Gols  Assistencias  \
Time      Numero
Sao Paulo 9       Jonathan Calleri     45    21             6
          10               Luciano     48    15             8
          7            Lucas Moura     35     8             9
          11       Wellington Rato     52     7            12
          8         Rodrigo Nestor     50     4            10
          43         Michel Araújo     42     5             6
Palmeiras 22              Piquerez     56     4             9
          25        Gabriel Menino     51     5             7
          23         Raphael Veiga     57    19            16
          10                  Rony     53    14             7
          9                Endrick     30    15             3
          18           Flaco López     49    17             6

                  Minutos_Jogados  G/A
Time      Numero
Sao Paulo 9                  3980   27
          10                 4100   23
          7                  3050   17
          11                 4250   19
          8                  4300   14
          43                 3100   11
Palmeiras 22                 5010   13
          25                 4500   12
          23                 5100   35
          10                 4750   21
          9                  2550   18
          18                 4100   23

In [23]:
# Rankeando melhores jogadores dos dois times
jam.sort_values('G/A', ascending=False)

                              Nome  Jogos  Gols  Assistencias  \
Time      Numero
Palmeiras 23         Raphael Veiga     57    19            16
Sao Paulo 9       Jonathan Calleri     45    21             6
          10               Luciano     48    15             8
Palmeiras 18           Flaco López     49    17             6
          10                  Rony     53    14             7
Sao Paulo 11       Wellington Rato     52     7            12
Palmeiras 9                Endrick     30    15             3
Sao Paulo 7            Lucas Moura     35     8             9
          8         Rodrigo Nestor     50     4            10
Palmeiras 22              Piquerez     56     4             9
          25        Gabriel Menino     51     5             7
Sao Paulo 43         Michel Araújo     42     5             6

                  Minutos_Jogados  G/A
Time      Numero
Palmeiras 23                 5100   35
Sao Paulo 9                  3980   27
          10                 4100   23
Palmeiras 18                 4100   23
          10                 4750   21
Sao Paulo 11                 4250   19
Palmeiras 9                  2550   18
Sao Paulo 7                  3050   17
          8                  4300   14
Palmeiras 22                 5010   13
          25                 4500   12
Sao Paulo 43                 3100   11

In [24]:
# Alguns dados dos principais jogadores
jam.describe()

           Jogos       Gols  Assistencias  Minutos_Jogados        G/A
count  12.000000  12.000000     12.000000        12.000000  12.000000
mean   47.333333  11.166667      8.250000      4065.833333  19.416667
std     8.161254   6.293335      3.360871       796.497541   6.960386
min    30.000000   4.000000      3.000000      2550.000000  11.000000
25%    44.250000   5.000000      6.000000      3760.000000  13.750000
50%    49.500000  11.000000      7.500000      4175.000000  18.500000
75%    52.250000  15.500000      9.250000      4562.500000  23.000000
max    57.000000  21.000000     16.000000      5100.000000  35.000000

In [25]:
# Maior quantidade de gols de um jogador
df['Gols'].max()

21

In [26]:
#Menor quantidade de jogos de um jogador
df['Jogos'].min()

15

In [27]:
# Puxando os dados de um jogador específico pelo nome
df[df['Nome'] == 'Lucas Moura']

                         Nome  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
Time      Numero
Sao Paulo 7       Lucas Moura     35     8             9             3050   17

In [28]:
# Puxando dados por número da camisa do jogador (subindex)
df.xs(10, level='Numero')

              Nome  Jogos  Gols  Assistencias  Minutos_Jogados  G/A
Time
Sao Paulo  Luciano     48    15             8             4100   23
Palmeiras     Rony     53    14             7             4750   21